#header{
	color:#41DF0B;
	font-weight:bold;
	font-size:20pt;
	font-family:'Kanit', sans-serif;
}
body{
	color:#0061F6;
	background-color:#FFFFFF;
	font-weight:bold;
	font-size:14pt;
	font-family:'Dosis', sans-serif;
}